<div class='col-12'>
  <h5 class='bar-title' id='orders_by_day_title'>
    <span>
      <%= t('spree.simple_dash.orders') %> <%= t('spree.simple_dash.count') %> <%= t('spree.simple_dash.by_day') %> (<%= t('spree.simple_dash.last_7_days') %>)
    </span>
  </h5>

  <div class='general-info info'>
    <table id='order_totals'>
      <tr>
        <td class='spacer'></td>
        <td style='width:20%;'>
          <span class='order_totals_title'><%= t('spree.order') %> <%= t('spree.total') %></span>
          <label id='orders_total'>
            <%= t('number.currency.format.unit') %> <span class='value'><%= number_with_delimiter @orders_total.to_i %></span>
          </label>
        </td>
        <td style='width:20%;'>
          <span class='order_totals_title'><%= t('spree.simple_dash.item') %> <%= t('spree.total') %></span>
          <label id='orders_line_total'>
            <%= t('number.currency.format.unit') %> <span class='value'><%= number_with_delimiter @orders_line_total.to_i %></span>
          </label>
        </td>
        <td style='width:20%;'>
          <span class='order_totals_title'><%= t('spree.adjustments') %></span>
          <label id='orders_adjustment_total'>
            <%= t('number.currency.format.unit') %> <span class='value'><%= number_with_delimiter @orders_adjustment_total.to_i %></span>
          </label>
        </td>
        <td class='spacer'></td>
      </tr>
    </table>
  </div>

  <div class='general-info graph row'>
    <div id='orders_by_day' style='width: 100%; height: 240px;'></div>
  </div>
</div>
